@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic);

/* BASIC SETTINGS  ------------------------------------------*/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    color: black;
}


body {
    min-height: 100vh;
    width: 100%;
}

.content {
    min-height: 100%;
    width: 70%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content > * {
    flex-basis: 49%;
}

#input {
    display: flex;
    flex-direction: column;

}

#input > * {
    margin: 10px;
    width: 100%;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

label input {
    width: 90%;
    margin-left: 5px;
}

input {
    padding: 3px;
    border: 2px solid black;
    font-weight: bold;
    min-width: 20px;
}

input[type="button"] {
    background: rgba(0,0,0,1);
    color: white;
    width: 49%;

    min-height: 50px;

    transition: all 0.4s;
}

input[type="button"]:hover {
    background:  rgba(0,0,0,0.8);
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radios {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#output {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    font-size: 2em;
    padding-left: 20px;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

.error {
    border: 2px solid red;
}
