@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic);

/* BASICS --------------------------------------------*/

:root {
    --black: #101010;
    --gray: #333333;
    --blue: #049FE0;
    --white: #EEEEEE;
    --red: #D8334A;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    color: var(--white);
}

h1 {
    font-weight: bold;
    font-size: 4vw;
    margin: 20px;
    color: var(--blue);
}



/* MAIN CONTENT --------------------------------------------*/

body {
    min-height: 100vh;
    width: 100%;
    background: var(--gray);
}

.content {
    max-width: 810px;
    min-height: 100vh;
    width: calc(70vw + 10px);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-block {  /* GAME BACKGROUND */
    max-width: 710px;
    max-height: 710px;
    width: calc(70vw + 10px);
    height: calc(70vw + 10px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game-wrapper {
    max-width: 700px;
    max-height: 700px;
    width: calc(70vw);
    height: calc(70vw);
    padding: 5px;

    background: var(--white);

    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.game-item {  /* EVERY SQUARE */
    max-width: calc((700px / 4 ) - 10px);
    max-height: calc((700px / 4 ) - 10px);
    width: calc((70vw / 4) - 10px);
    height: calc((70vw / 4) - 10px);

    margin: 5px;
    box-sizing: border-box;
}

.game-item:hover {
    cursor: pointer;
}



/* FRONT SIDE OF A CARD --------------------------------------------*/

.game-item-front {
    background-color: var(--gray);
    opacity: 1;

    transition: opacity 0.3s;
}

.game-item-front::before {
    content: '?';
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    font-size: 5vw;
    font-weight: bold;
    color: var(--blue);
}

.game-item-front:hover {
    opacity: 0.8;

    transition: opacity 0.3s;
}



/* BACK SIDE OF A CARD --------------------------------------------*/

.game-item-back {
    min-width: 100%;
    min-height: 100%;
}



/* FLIP ANIMATION --------------------------------------------*/

.game-item {
    perspective: 1000;
}

.game-item, .game-item-front, .game-item-back {
    max-width: calc((700px / 4 ) - 10px);
    max-height: calc((700px / 4 ) - 10px);
    width: calc((70vw / 4) - 10px);
    height: calc((70vw / 4) - 10px);

    border-radius: 4px;
}

.game-item.hover .flipper, .game-item.flip .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: all 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hiding back in the momrnt of flip*/
.game-item-front, .game-item-back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.game-item-front {
    z-index: 2;
}

.game-item-back {
    transform: rotateY(180deg);
}



/* OTHER ELEMENTS --------------------------------------------*/

.score { /* SCORE */

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--red);

    font-size: 2em;
    font-weight: bold;

    z-index: -2;
}

.restart { /* RESTART BUTTON */

    background: var(--white);
    padding: 15px 20px;
    font-size: 2vw;
    font-weight: bold;
    color: var(--blue);
    margin-top: 20px;
    opacity: 1;
    border-radius: 4px;

    transition: opacity 0.3s;
}

.restart:hover {
    cursor: pointer;
    opacity: 0.7;
}
